# Main config
PORT=3000

# Module config
MODULES_SET=monolith

# Log level of production
LOG_LEVEL=warn #(optional)

# Database config
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=12345678
DB_NAME=example
DB_LOGGING=true
